<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Add New Attraction</title>
</head>
<body>
<h1>Add New Attraction</h1>
<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br>
    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}"></textarea><br>
    <button type="submit">Save</button>
</form>
</body>
</html>